@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap");
.nav {
  background-color: steelblue;
}

body {
  margin: 0 auto;
  max-width: 85vw;
}

main {
  padding-top: 4em;
}

* {
  box-sizing: border-box;
}
